# Ignorar arquivos de ambiente
.env

# Ignorar virtualenv (caso esteja dentro do projeto)
venv/
__pycache__/

# Ignorar arquivos do sistema
*.pyc
*.pyo
*.log

# Ignorar IDEs
.vscode/
.idea/
*.swp


# Ignorar JSON da service account
config/rua11store-notifications-24f29-firebase-adminsdk-fbsvc-0ab3a68aa0.json
